/* Style de base pour le composant Badge */
.badge {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style du bouton pour afficher les badges */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style pour la liste des badges */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour les boutons "Sélectionner le badge" et "Supprimer ce badge" */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

/* Style pour les champs de création de badge */
.create-badge {
    margin-top: 20px;
}

/* Style pour le formulaire de création de badge */
.create-badge h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style du bouton "Ajouter le badge" */
.create-button {
    margin-top: 20px;
}

/* Style pour les images de badge */
img {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
}