.badge {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-badge {
    .button {
        width: 10rem;
        background-color: var(--blue);
        border-radius: 2rem;
        height: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }

    .delete-button {
        width: 10rem;
        background-color: var(--sun);
        border-radius: 2rem;
        height: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
}

.main-button {
    display: flex;
    justify-content: center;

    .button-badges {
        background-color: var(--blue);
        border-radius: 2rem;
        font-size: 1.5rem;
        width: 16rem;
        height: 3rem;
        color: white;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
}

input[type="checkbox" i] {
    accent-color: var(--sun);

    color: white;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    width: 10rem;
    background-color: var(--blue);
    border-radius: 2rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.create-badge {
    margin-top: 20px;
}

.create-badge h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create-button {
    margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
}
