.star-rating {
    .star {
        font-size: 1.3rem;
        color: var(--sun);
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &.fa-star-half::before {
            content: "\f089";
            position: absolute;
            width: 50%;
            overflow: hidden;
            color: var(--sun);
        }
    }
}

.rating-info p {
    font-size: 1rem;
    font-family: var(--text);
    background-color: var(--sun);
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}