<div class="register-box">
  <form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
    <div class="user-box">
      <input type="text" name="lastname" [(ngModel)]="user.lastname" required />
      <div class="input-title">
        <h3>Nom</h3>
      </div>
    </div>
    <div class="user-box">
      <input type="text" name="firstname" [(ngModel)]="user.firstname" required />
      <div class="input-title">
        <h3>Prénom</h3>
      </div>
    </div>
    <div class="user-box">
      <input type="text" name="email" required [(ngModel)]="user.email" (input)="checkEmail()" />
      <div class="input-title">
        <h3>Email</h3>
      </div>
      <div class="error" *ngIf="formSubmitted && !isEmailValid">
        L'email n'est pas valide.
      </div>
    </div>
    <div class="user-box">
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password" required
        (input)="verifyPasswordStrength(); verifyPassword()" />
      <div class="input-title">
        <h3>Mot de passe</h3>
      </div>
      <div class="error" *ngIf="formSubmitted && !passwordStrong">
        Le mot de passe doit comporter au moins 8 caractères.
      </div>
      <button type="button" class="show-password" (click)=" togglePasswordVisibility()"
        style="color: var(--sun); background-color: var(--white);">
        <div class="eye">
          <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </div>
      </button>
    </div>

    <div class="user-box">
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password" required
        (input)="verifyPasswordStrength(); verifyPassword()" />

      <div class="input-title">
        <h3>Confirmation du mot de passe</h3>
      </div>
      <div class="error" *ngIf="formSubmitted && !passwordMatch">
        Mots de passe différents.
      </div>
      <button type="button" class="show-password" (click)=" togglePasswordVisibility()"
        style="color: var(--sun); background-color: var(--white);">
        <div class="eye">
          <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </div>
      </button>
    </div>
    <div class="button">
      <div class="button-container">
        <button type="submit" class="button">S'inscrire</button>
      </div>
    </div>
  </form>
</div>