<footer class="footer">
  <div class="footer-content">

    <ul class="footer-links">

      <li><a href="/gcu">Conditions d'utilisation</a></li>

    </ul>
    <ul class="footer-social">
      <li>
        <a routerLink="/social-networks" aria-label="Facebook"><i class="fa fa-facebook-f"></i></a>
      </li>
      <li>
        <a routerLink="/social-networks" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a routerLink="/social-networks" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a routerLink="/social-networks" aria-label="YouTube"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
    <p>© 2024 Les Mystères de L' Égypte Antique. Tous droits réservés.</p>
  </div>
</footer>