.footer {
    background-color: var(--blue);
    color: var(--sun);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid var(--sun);
    overflow-x: hidden;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links a {
    color: var(--sun);
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: var(--sun);
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: var(--white);
}

.footer-social a i {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        height: 10rem;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }
}