<footer class="footer">
  <div class="footer-content">
    <p>© 2024 Les Mystères de L' Égypte Antique. Tous droits réservés.</p>
    <ul class="footer-links">
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Conditions d'utilisation</a></li>
      <li><a href="#">Plan du site</a></li>
    </ul>
    <ul class="footer-social">
      <li>
        <a href="#" aria-label="Facebook"><i class="fa fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="#" aria-label="YouTube"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
  </div>
</footer>
