.all-topics {
    font-family: var(--text);
    color: var(--white);
    background-color: var(--blue);
    padding: 1rem;

    .noTopics {
        text-align: center;
        margin: 2rem;
        font-size: 1.5rem;
        font-family: var(--title);
        color: var(--sun)
    }

    .author-avatar {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        border-radius: 100%;
        shape-outside: margin-box;
        margin: 0 0.5rem 0.5rem 0;
        float: left;

        img {
            width: 96%;
            height: 96%;
            object-fit: cover;
            border-radius: 100%;
            border: 1px solid var(--sun);
            margin: 1rem;
            shape-outside: margin-box;
            margin: 0 0.5rem 0.5rem 0;
            float: left;
        }

    }

    .form-group {
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .topic-btn {
                background-color: var(--sun);
                color: var(--white);
                display: flex;
                margin: 1rem;
                padding: 1rem;
                border-radius: 2rem;
                cursor: pointer;
                font-weight: bold;
            }

            .edit {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input#topic-tag {
                    background-color: var(--blue);
                    color: var(--white);
                    width: 60%;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    border: 0.2rem solid var(--white);
                    border-top-right-radius: 1.5rem;
                    border-top-left-radius: 1.5rem;
                    padding: 1rem;
                }

                textarea {
                    background-color: var(--blue);
                    color: var(--white);
                    width: 60%;
                    height: 15rem;
                    display: flex;
                    justify-content: center;
                    border: 0.2rem solid var(--white);
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                    padding: 1rem;
                    border-top: none;
                }

                .btn-add-topic {
                    background-color: var(--sun);
                    color: var(--white);
                    border-radius: 1rem;
                    background-color: var(--sun);
                    color: var(--white);
                    border: none;
                    padding: 0.5rem 2rem;
                    margin: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

    }

    li {
        background-color: var(--white);
        border-radius: 0.5rem;
        color: var(--blue);
        padding: 1rem;
        width: calc(48% - 1rem);
        min-width: min-content;
        margin: 1rem 0;
        box-sizing: border-box;
        line-height: 1.5rem;

    }

    .author-avatar {

        width: 5rem;
        height: 5rem;
        overflow: hidden;
        border-radius: 100%;
        shape-outside: margin-box;
        margin: 0 0.5rem 0.5rem 0;
        float: left;

        img {
            width: 96%;
            height: 96%;
            object-fit: cover;
            border: 1px solid var(--sun);
            margin: 1rem;
            shape-outside: margin-box;
            margin: 0 0.5rem 0.5rem 0;
            float: left;
        }

    }



    .participation {
        background-color: var(--sun);
        color: var(--white);
        text-shadow: 1px 1px 1px var(--blue);
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        padding: 0.5rem 2rem;
        font-weight: bold;
    }

    p {
        color: var(--blue);
    }

    p::first-letter {
        text-transform: uppercase;
    }
}

.see-answer {
    margin: 0 1rem;
    padding: 1rem;
    text-align: justify;

}


.name-search {
    margin: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #searchButton {
        font-size: 1.7rem;
        background: transparent;
        border-radius: 2rem;
        border: none;
        margin-top: 2rem;
        position: relative;
        bottom: 4.5rem;
        left: 19rem;
        cursor: pointer;
        color: var(--sun);

    }

}

#theme {
    color: var(--blue);
    background: var(--white);
    border-radius: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    height: 2.2rem;
    width: 45rem;
    font-weight: bold;
}


.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.3rem;
}

.answer-btn {
    background-color: var(--sun);
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--sun);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 1rem;
}

.edit {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.create-answer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--text);

    .btn-add-topic {
        background-color: var(--sun);
        color: var(--white);
        border-radius: 1rem;
        border: none;
        padding: 0.5rem 2rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    textarea {
        background-color: var(--blue);
        color: var(--white);
        width: 60%;
        height: 15rem;
        display: flex;
        justify-content: center;
        border: 0.2rem solid var(--white);
        border-radius: 1.5rem;
        padding: 1rem;
    }
}

.codeOfConduct-btn {
    background: transparent;
    font-style: var(--text);
    color: var(--sun);
    border: none;
    cursor: pointer;
    font-style: italic;
}

.codeOfconduct {
    height: 2rem;
    margin: 1rem 0;
    width: 100%;
}

.closeModal {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.close-btn {
    background: var(--sun);
    border: none;
    font-size: 1.1rem;
    color: var(--white);
    cursor: pointer;
    border-radius: 0.5rem;
}

.showCodeOfConduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--sun);
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--text);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

}


@media screen and (max-width: 768px) {
    .all-topics {
        #searchButton {
            left: 7rem;
        }

        ul {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            padding: 0;
            align-items: center;

        }

        li {
            background-color: var(--white);
            border-radius: 0.5rem;
            width: 20rem;
        }

        .answer {
            ul {
                min-width: 71rem;

                li {
                    background-color: var(--white);
                    border-radius: 0.5rem;
                    color: var(--blue);
                    // width: 21rem;
                    padding: 1rem 0.5rem;
                    box-sizing: border-box;


                    .author-avatar {
                        width: 5rem;
                        height: 5rem;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 100%;
                            border: 1px solid var(--sun);
                            margin: 1rem;
                            shape-outside: margin-box;
                            margin: 0 0.5rem 0.5rem 0;
                            float: left;
                        }

                    }


                    // }
                }
            }
        }
    }

    .name-search {
        margin: 2rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .search-button {
            font-size: 1.7rem;

            background: transparent;
            border-radius: 2rem;
            border: none;
            margin-top: 2rem;
            position: relative;
            bottom: 4.6rem;
            left: 8rem;
            cursor: pointer;
            color: var(--sun);

        }
    }

    #theme {
        color: var(--blue);
        background: var(--white);
        border-radius: 2rem;
        padding-left: 2rem;
        font-size: 1.5rem;
        height: 2.2rem;
        width: 18rem;
        font-weight: bold;

    }


}