.display-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.blue-white {
    color: var(--white);
    background-color: var(--blue);
}

.all-topics {
    font-family: var(--text);
    @extend .blue-white;
    padding: 1rem;

    .noTopics {
        text-align: center;
        margin: 2rem;
        font-size: 1.5rem;
        font-family: var(--title);
        color: var(--sun);
    }

    .author-avatar {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        border-radius: 100%;
        shape-outside: margin-box;
        margin: 0 0.5rem 0.5rem 0;
        float: left;

        img {
            width: 96%;
            height: 96%;
            object-fit: cover;
            border-radius: 100%;
            border: 1px solid var(--sun);
            margin: 1rem;
            shape-outside: margin-box;
            margin: 0 0.5rem 0.5rem 0;
            float: left;
        }
    }

    .form-group {
        form {
            @extend .display-center;

            .topic-btn {
                background-color: var(--sun);
                color: var(--white);
                display: flex;
                margin: 1rem;
                padding: 1rem;
                border-radius: 2rem;
                cursor: pointer;
                font-weight: bold;
            }

            .edit {
                @extend .display-center;

                input#topic-tag,
                textarea {
                    @extend .blue-white;
                    width: 60%;
                    border: 0.2rem solid var(--white);
                    border-radius: 1.5rem;
                    padding: 1rem;
                    margin-top: 1rem;
                }

                .btn-add-topic {
                    background-color: var(--sun);
                    color: var(--white);
                    border-radius: 1rem;
                    border: none;
                    padding: 0.5rem 2rem;
                    cursor: pointer;
                    margin-top: 1rem;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        li {
            background-color: var(--white);
            border-radius: 0.5rem;
            color: var(--blue);
            padding: 1rem;
            width: calc(48% - 1rem);
            min-width: min-content;
            margin: 1rem 0;
            box-sizing: border-box;
            line-height: 1.5rem;
        }
    }

    .participation {
        background-color: var(--sun);
        color: var(--white);
        text-shadow: 1px 1px 1px var(--blue);
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        padding: 0.5rem 2rem;
        font-weight: bold;
    }

    p {
        color: var(--blue);

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.see-answer {
    margin: 0 1rem;
    padding: 1rem;
    text-align: justify;
}

.answer {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    li {
        width: 100%;
    }

    p {
        min-width: 50rem;
    }
}

.name-search {
    margin: 2rem 0.5rem;
    @extend .display-center;


    #searchButton {
        font-size: 1.7rem;
        background: transparent;
        border-radius: 2rem;
        border: none;
        margin-top: 2rem;
        position: relative;
        bottom: 4.5rem;
        left: 19rem;
        cursor: pointer;
        color: var(--sun);
    }
}

#theme {
    color: var(--blue);
    background: var(--white);
    border-radius: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    height: 2.2rem;
    width: 45rem;
    font-weight: bold;
}

.answer {
    @extend .display-center;
    line-height: 1.3rem;
}

.answer-btn {
    background-color: var(--sun);
    color: var(--white);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 1rem;
}

.edit {
    @extend .display-center;
    margin: 1rem;
    width: 100vw;
}

.create-answer-form {
    @extend .display-center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    @extend .blue-white;
    font-family: var(--text);

    .btn-add-topic {
        background-color: var(--sun);
        color: var(--white);
        border-radius: 1rem;
        border: none;
        padding: 0.5rem 2rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    textarea {
        @extend .blue-white;
        width: 60%;
        height: 15rem;
        display: flex;
        justify-content: center;
        border: 0.2rem solid var(--white);
        border-radius: 1.5rem;
        padding: 1rem;
    }
}

.codeOfConduct-btn {
    background: transparent;
    font-style: var(--text);
    color: var(--sun);
    border: none;
    cursor: pointer;
    font-style: italic;
}

.codeOfconduct {
    height: 2rem;
    margin: 1rem 0;
    width: 100%;
}

.closeModal {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.close-btn {
    background: var(--sun);
    border: none;
    font-size: 1.1rem;
    color: var(--white);
    cursor: pointer;
    border-radius: 0.5rem;
}

.showCodeOfConduct {
    @extend .display-center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--sun);
    @extend .blue-white;
    font-family: var(--text);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .all-topics {
        #searchButton {
            left: 7rem;
        }

        ul {
            width: 100%;
            padding: 0;

            li {
                border-radius: 0.5rem;
                width: 20rem;
            }
        }

        .answer {
            ul {
                li {
                    width: 100%;

                    p {
                        min-width: 20rem;
                    }
                }
            }
        }

        .name-search {
            #searchButton {
                left: 8rem;
            }
        }

        #theme {
            width: 18rem;
        }
    }
}