.all-topics .form-group form,
.all-topics .form-group form .edit,
.answer,
.create-answer-form,
.display-center,
.edit {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.all-topics,
.all-topics .form-group form .edit input#topic-tag,
.all-topics .form-group form .edit textarea,
.blue-white,
.create-answer-form,
.create-answer-form textarea {
    color: #fff;
    background-color: var(--blue);
}

.all-topics {
    font-family: var(--text);
    padding: 1rem;
}

.all-topics .noTopics {
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
    font-family: var(--title);
    color: var(--sun);
}

.all-topics .author-avatar,
.all-topics .author-avatar img {
    border-radius: 100%;
    shape-outside: margin-box;
    margin: 0 0.5rem 0.5rem 0;
    float: left;
}

.all-topics .author-avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
}

.all-topics .author-avatar img {
    width: 96%;
    height: 96%;
    object-fit: cover;
    border: 1px solid var(--sun);
}

.all-topics .form-group form .topic-btn {
    background-color: var(--sun);
    color: #fff;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 700;
}

.all-topics .form-group form .edit input#topic-tag,
.all-topics .form-group form .edit textarea {
    width: 60%;
    border: 0.2rem solid #fff;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
}

.all-topics .form-group form .edit .btn-add-topic,
.all-topics .participation {
    background-color: var(--blue);
    color: #fff;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.all-topics .form-group form .edit .btn-add-topic {
    margin-top: 1rem;
}

.all-topics ul,
.answer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.all-topics ul li,
.see-answer {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.all-topics ul li {
    color: var(--blue);
    width: calc(48% - 1rem);
    min-width: min-content;
    margin: 1rem;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.all-topics .participation {
    text-shadow: 1px 1px 1px var(--blue);
    font-weight: 700;
}

#theme,
.all-topics p {
    color: var(--blue);
}

.all-topics p::first-letter {
    text-transform: uppercase;
}

.see-answer {
    margin: 0 1rem;
    text-align: justify;
    border: 1px solid var(--sun);
    width: 80vw;
}

.answer ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.answer li {
    width: 50rem;
    margin-bottom: 1rem;
}

.answer {
    line-height: 1.3rem;
}

.answer-btn,
.create-answer-form .btn-add-topic {
    background-color: var(--sun);
    color: #fff;
    border-radius: 1rem;
    border: 0;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.answer-btn,
.edit {
    margin: 1rem;
}

.edit {
    width: 100vw;
}

.create-answer-form {
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    font-family: var(--text);
}

.create-answer-form .btn-add-topic {
    margin-top: 1rem;
}

.create-answer-form textarea {
    width: 60%;
    height: 15rem;
    display: flex;
    justify-content: center;
    border: 0.2rem solid #fff;
    border-radius: 1.5rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .all-topics .searchButton {
        left: 7rem;
    }

    .all-topics ul {
        padding: 0;
    }

    .all-topics ul li {
        border-radius: 0.5rem;
        width: 20rem;
    }

    .all-topics .answer ul li {
        width: 100%;
        margin: 1rem 0;
    }

    .all-topics .answer ul li p {
        min-width: 20rem;
    }

    .all-topics {
        left: 8rem;
    }

    .all-topics #theme {
        width: 18rem;
    }
}
