<div class="all-topics">
  <div *ngIf="userConnected" class="form-group">
    <form (submit)="createTopic()">
      <label for="topic"></label>
      <button
        type="button"
        title="create-topic-btn"
        class="topic-btn"
        (click)="toggleEdit()"
      >
        Créer un nouveau sujet
      </button>
      <div class="create-topic-form" *ngIf="editTopic">
        <div class="edit">
          <input
            type="text"
            id="topic-tag"
            placeholder="Thème"
            [(ngModel)]="tag"
            name="tag"
            required
          />
          <textarea
            id="create-topic"
            placeholder="Votre texte"
            class="form-control"
            [(ngModel)]="topicMessage"
            name="topicMessage"
            required
          ></textarea>
          <button type="submit" class="btn-add-topic">
            Ajouter la discussion
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="codeOfconduct">
    <button
      title="code-of-conduct"
      (click)="showCodeOfConductModal()"
      type="button"
      class="codeOfConduct-btn"
    >
      Plus d'informations
    </button>
  </div>
  <div class="showCodeOfConduct" *ngIf="showCodeOfConduct">
    <div class="closeModal">
      <button
        title="close"
        (click)="closeCodeOfConductModal()"
        type="button"
        class="close-btn"
      >
        <strong>X</strong>
      </button>
    </div>
    <app-code-of-conduct></app-code-of-conduct>
    <div class="closeModal">
      <button
        title="close"
        (click)="closeCodeOfConductModal()"
        type="button"
        class="close-btn"
      >
        <strong>Fermer</strong>
      </button>
    </div>
  </div>
  <div *ngIf="userConnected" class="name-search">
    <label for="theme"></label>
    <input
      type="text"
      id="theme"
      placeholder="Rechercher"
      [(ngModel)]="searchQuery"
    />
    <button
      type="button"
      class="searchButton"
      title="Search"
      (click)="searchTopics()"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="see-topics">
    <ul *ngIf="topics && topics.length > 0; else noTopics">
      <li *ngFor="let topic of topics">
        <button
          class="participation"
          type="button"
          title="participation"
          (click)="getTopicById(topic.id)"
        >
          Participer
        </button>
        <p>Tag: {{ topic.tag }}</p>
        <p>Par: {{ topic.authorName }}</p>
        <div class="author-avatar">
          <img
            [src]="topic.authorAvatar"
            alt="Avatar de l'auteur du commentaire"
          />
        </div>
        <div class="subject">Sujet: {{ topic.message }}</div>
        <p>Date de création: {{ creationDate | date : "dd/MM/yyyy" }}</p>
      </li>
    </ul>
  </div>
  <ng-template #noTopics>
    <p class="noTopics">Veuillez vous inscrire ou vous connecter...</p>
  </ng-template>

  <div class="answer" *ngIf="selectedTopic">
    <h2>Sujet sélectionné</h2>
    <div class="see-answer">
      <p>{{ selectedTopic.message }}</p>
      <p>Date de création: {{ creationDate | date : "dd/MM/yyyy" }}</p>
      <p>Auteur: {{ selectedTopic.authorName }}</p>
      <p>Tag: {{ selectedTopic.tag }}</p>
    </div>
    <button class="answer-btn" (click)="toggleAnswer()">Répondre</button>

    <div class="create-answer-form" *ngIf="editAnswer">
      <div class="edit">
        <textarea
          id="create-answer"
          class="form-control"
          [(ngModel)]="answerMessage"
          name="answerMessage"
          required
        ></textarea>
        <button type="button" class="btn-add-topic" (click)="createAnswer()">
          Ajouter la réponse
        </button>
      </div>
    </div>
    <ul *ngIf="existingAnswers && existingAnswers.length > 0; else noAnswers">
      <li *ngFor="let answer of existingAnswers">
        <div class="author-avatar">
          <img
            [src]="answer.authorAvatar"
            alt="Avatar de l'auteur du commentaire"
          />
        </div>
        <p>Réponse: {{ answer.answer }}</p>
        <p>auteur :{{ answer.authorName }}</p>
      </li>
    </ul>
    <ng-template #noAnswers>
      <p>Aucune réponse disponible pour ce sujet.</p>
    </ng-template>
  </div>
  <div class="scroll-home">
    <app-scroll-to-top></app-scroll-to-top>
  </div>
</div>
