<div class="update-articles">
    <button class="all-articles" (click)="getArticles()" type="button">Tous les articles</button>
    <div *ngIf="articlesOpen">
        <div class="articles-container" *ngFor="let article of articles">
            <div class="title">
                <h2>{{ article.title }}</h2>
                <input type="text" id="editTitle" [(ngModel)]="newTitle"
                    *ngIf="showUpdateForm && existingArticle === article" />
            </div>
            <div class="author">
                <p>Par {{ article.author }}</p>
                <input type="text" id="editAuthor" [(ngModel)]="newAuthor"
                    *ngIf="showUpdateForm && existingArticle === article" />
            </div>
            <div class="tag">
                <p>Thème: {{ article.tag }}</p>
                <input type="text" id="editTag" [(ngModel)]="newTag"
                    *ngIf="showUpdateForm && existingArticle === article" />
            </div>

            <div class="content">
                <p>{{ article.content }}</p>
                <textarea id="editContent" [(ngModel)]="newContent"
                    *ngIf="showUpdateForm && existingArticle === article"></textarea>
            </div>
            <div class="archived">
                <div class="archived">
                    <p>État: {{ article.archive ? 'Archivé' : 'Non archivé' }}</p>
                </div>

                <div class="arviched">
                    <input type="radio" id="archiveYes" name="archive_{{article.id}}" [(ngModel)]="isArchived"
                        [value]="true"> Oui
                    <input type="radio" id="archiveNo" name="archive_{{article.id}}" [(ngModel)]="isArchived"
                        [value]="false"> Non

                </div>
                <div class="imageUpdate">
                    <img [src]="article.image" alt="Image de l'article" />
                    <input type="text" id="editImage" [(ngModel)]="newImage"
                        *ngIf="showUpdateForm && existingArticle === article" />
                </div>
                <div class="update-button">
                    <button (click)="editArticle(article)" type="button">Modifier</button>
                    <button class="delete-button" (click)="article.id && deleteArticle(article.id)">Supprimer</button>
                    <button (click)="saveChanges()">Enregistrer</button>
                </div>
            </div>
        </div>
        <div class="button">
            <button (click)="createArticle()" type="button" class="button">Créer un article</button>
        </div>
    </div>

    <div class="add-article">
        <div class="create-article" *ngIf="showArticleForm">
            <h2 class="create">Créer un nouvel article</h2>
            <div class="form-group">
                <label for="title">Titre:</label>
                <input placeholder="Titre de l'article" type="text" id="title" [(ngModel)]="newTitle">
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="text" id="image" name="image" [(ngModel)]="newImage"
                    placeholder="Entrez le lien de l'image" />
            </div>
            <div class="form-group">
                <label for="content">Contenu:</label>
                <textarea placeholder="Placez ici le contenu de l'article" id="content"
                    [(ngModel)]="newContent"></textarea>
            </div>
            <div class="form-group">
                <label for="archive">Archivé :</label>
                <input type="radio" id="archive" [(ngModel)]="isArchived">
            </div>
            <div class="form-group">
                <label for="author">Auteur:</label>
                <input placeholder="Auteur ou source de l'article " type="text" id="author" [(ngModel)]="newAuthor">
            </div>
            <div class="form-group">
                <label for="tag">Thème:</label>
                <input placeholder="Thème" type="text" id="tag" [(ngModel)]="newTag">
            </div>
            <div class="form-group">
                <label for="rating">Évaluation:</label>
                <input type="number" id="rating" [(ngModel)]="newRating">
            </div>
            <div class="create-button">
                <div class="button">
                    <button (click)="addArticle()" type="button" class="button">Ajouter l'article</button>
                </div>
            </div>
        </div>
    </div>
</div>