.center-content {
    justify-content: center;
    align-items: center;
    display: flex;
}
.create-article {
    .create {
        color: var(--bleu);
    }
}
.content-btn,
.button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: white;
}
.update-button {
    display: flex;
    justify-content: space-between;
}

.height-width {
    height: 8rem;
    width: 8rem;
}

.input-hw,
.input-hw textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 3rem;
}

.update-articles {
    display: flex;
    background-color: white;
    margin: 1.2rem;
    padding: 2rem;
    color: var(--bleu);
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}

.update-articles .articles-container {
    // width: 80vw;
    padding: 2rem;
    margin: 1rem;
    flex-direction: column;
    border: 1px solid var(--blue);
    border-radius: 2rem;
}

.update-articles .button button,
.update-articles .all-articles {
    background-color: var(--blue);
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    width: 14rem;
    font-size: 1.5rem;
    height: 3rem;
}

.update-articles .image {
    @extend .height-width;
    @extend .center-content;
    margin: 0.5rem;
}
.imageUpdate img {
    @extend .height-width;
    @extend .center-content;
    margin: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--blue);
}

.update-articles .update-button button,
.update-articles .update-button .delete-button {
    background-color: var(--blue);
    border-radius: 2rem;
    color: white;
    width: 10rem;
    height: 1.8rem;
    font-family: var(--text);
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .add-article,
    .add-article .create-article {
        display: flex;
        font-family: var(--text);
        justify-content: center;
        flex-direction: column;
        color: var(--bleu);
        align-items: center;
        input {
            width: 30rem;
            margin: 1rem;
            display: flex;
        }
    }
    .add-article .create-article textarea#content,
    #editContent {
        width: 30rem;
        height: 8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
    }
}
