<div class="header-all">
    <nav class="header-container">
        <div class="header-content">
            <div class="menu-burger" [ngClass]="{ open: isMenuOpen }" (click)="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="menu" [ngClass]="{ open: isMenuOpen }">
                <div class="nav-mobile">
                    <div class="link">

                        <ul>
                            <li><a routerLink="/home">Accueil</a></li>
                            <li><a routerLink="/article">Articles</a></li>
                            <li><a routerLink="/quiz">Quiz</a></li>
                            <li><a routerLink="/profile">Profil</a></li>
                            <li (click)="redirectToProfile()"><a routerLink="/authentication">Connexion</a></li>
                            <li><a routerLink="/contact">Nous Contacter</a></li>
                            <li><a routerLink="/view">En image</a></li>
                            <li><a (click)="logout()">Déconnexion</a></li>
                        </ul>
                    </div>
                    <div class="logo">
                        <a routerLink="/home">
                            <!-- <img [src]="'assets/images/logo-bleu.svg'" alt="logo" /> -->
                            <app-logo3-d></app-logo3-d>
                        </a>
                    </div>
                    <div class="title-for-mobile">
                        <h3>Les Mystères de l'Égypte Antique</h3>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>