<nav class="header-container">
    <div class="header-content">
        <div class="menu-burger" [ngClass]="{ open: isMenuOpen }" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="menu" [ngClass]="{ open: isMenuOpen }">
            <div class="nav-mobile">
                <ul>
                    <li><a routerLink="/home">Accueil</a></li>
                    <li><a routerLink="/article">Articles</a></li>
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><a routerLink="/authentication">Connexion</a></li>
                   <li> <a (click)="logout()">Déconnexion</a></li>
                    <!-- <img src="assets/images/Brain.png" alt="Image 2" class="menu-image" /> -->
                </ul>
                <div class="menu-image">
                <img [src]="'assets/images/logo-bleu.svg'" alt="logo" class="menu-image" />
            </div>
            </div>
        </div>
    </div>

    <div class="icons">
        <a routerLink="/dashboard" class="icon">
            <i class="fa fa-user"></i>
        </a>
        <div class="icon"><i class="fa fa-envelope"></i></div>
        <div class="icon"><i class="fa fa-bell"></i></div>
    </div>
</nav>