.header-all {
  margin-bottom: 8rem;
  width: 100vw;
}

nav.header-container {
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--blue);
  border-bottom: #fc9900 1px solid;
  color: white;
  z-index: 2;
  margin-bottom: 3rem;
}

nav.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

}

.header-content {
  display: flex;
  align-items: center;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--sun);
  transition: transform 0.3s ease-in-out;
}

.menu-burger.open {
  position: fixed;
}

.menu-burger.open .line:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

.menu-burger.open .line:nth-child(2) {
  opacity: 0;
}

.menu-burger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  top: 100%;
  right: 0;
  display: none;
  z-index: 2;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
}

.menu.open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--blue);
  z-index: 1;
}


.menu .nav-mobile ul {
  list-style: none;
  margin: 0 3rem;
  text-align: center;


}

.menu li {
  font-family: var(--title);
  color: var(--sun);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu li a {
  text-decoration: none;
  color: var(--sun);
  font-size: 1.3rem;
  margin-top: 10px;

}

.menu-image {

  display: flex;
  justify-content: center;
  margin-top: 2rem;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--sun);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.logo {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;

}


@media screen and (min-width: 768px) {
  .header-all {
    margin: 0;
  }

  nav.header-container {
    position: relative;

  }

  .menu-burger {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    position: relative;
    height: 100%;

  }

  .nav-mobile {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;

    ul {
      padding: 0%;
      display: flex;
      align-items: center;
      height: 100%;
    }

  }

  .menu .nav-mobile ul {
    list-style: none;
    margin: 0 3rem;
    text-align: center;

    .header-all {
      margin-bottom: 8rem;
      width: 100vw;
    }

    nav.header-container {
      height: 5rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background: var(--blue);
      border-bottom: #fc9900 1px solid;
      color: white;
      z-index: 2;
      margin-bottom: 3rem;
    }

    nav.header-container {
      position: fixed;
      top: 0;
      left: 0;
      // width: 100%;
      z-index: 2;

      div.logo {
        a {
          img {
            display: none;
          }
        }
      }
    }

    .header-content {
      display: flex;
      align-items: center;
    }

    .menu-burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 30px;
      cursor: pointer;
      z-index: 3;
      transition: transform 0.3s ease-in-out;
    }

    .line {
      width: 100%;
      height: 5px;
      background-color: var(--sun);
      transition: transform 0.3s ease-in-out;
    }

    .menu-burger.open {
      position: fixed;
    }

    .menu-burger.open .line:nth-child(1) {
      transform: translateY(15px) rotate(45deg);
    }

    .menu-burger.open .line:nth-child(2) {
      opacity: 0;
    }

    .menu-burger.open .line:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }

    .menu {
      top: 100%;
      right: 0;
      display: none;
      z-index: 2;
      width: 100%;
      transition: transform 0.3s ease-in-out;
      flex-direction: column;
      justify-content: center;
    }

    .menu.open {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--blue);
      z-index: 1;
    }


    .menu .nav-mobile ul {
      list-style: none;
      margin: 0 3rem;
      text-align: center;

      div.logo {
        display: none;
      }
    }

    .menu li {
      font-family: var(--title);
      color: var(--sun);
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .menu li a {
      text-decoration: none;
      color: var(--sun);
      font-size: 1.3rem;
      margin-top: 10px;

    }

    .menu-image {

      display: flex;
      justify-content: center;
      margin-top: 2rem;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .icons {
      display: flex;
      align-items: center;
    }

    .icon {
      margin-left: 20px;
      margin-right: 20px;
      color: var(--sun);
      font-size: 20px;
      cursor: pointer;
      display: none;
    }

    .logo {
      padding: 2rem;
      display: flex;
      justify-content: flex-end;
      width: 100%;

    }


    @media (min-width: 768px) {
      .header-all {
        margin: 0;
      }

      nav.header-container {
        position: relative;

      }

      .menu-burger {
        display: none;
      }

      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .menu {
        display: flex;
        position: relative;
        height: 100%;

      }



      .nav-mobile {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;

        ul {
          padding: 0%;
          display: flex;
          align-items: center;
          height: 100%;

        }

      }

      .menu .nav-mobile ul {
        list-style: none;
        margin: 0 3rem;
        text-align: center;


      }

      .menu li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        width: max-content;
        padding: 1rem;

      }

      .menu-image {
        display: none;
      }

      .icons {
        display: none;

      }
    }

  }

  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 7rem;

  }

  .menu-image {
    display: none;
  }

  .icons {
    display: none;

  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

}