.display-global {
  align-items: center;
  display: flex;
}

.header-all {
  margin-bottom: 8rem;
  width: 100vw;
}

nav.header-container {
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100svw;
  padding: 10px;
  border-bottom: #fc9900 1px solid;
  background-color: var(--blue);
  z-index: 2;
}

.header-content {
  @extend .display-global;
  justify-content: space-between;
  margin-top: 1rem;
}

.logo {
  @extend .display-global;
  justify-content: center;
  // margin-top: 3rem;
}

.title-for-mobile {
  @extend .display-global;
  justify-content: center;
  color: var(--sun);
  font-family: var(--title);
  margin-top: 1rem;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.menu-burger .line {
  width: 100%;
  height: 5px;
  background-color: var(--sun);
  transition: transform 0.3s ease-in-out;
}

.menu-burger.open {
  position: fixed;
}

.menu-burger.open .line:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

.menu-burger.open .line:nth-child(2) {
  opacity: 0;
}

.menu-burger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  top: 100%;
  right: 0;
  display: none;
  z-index: 2;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
}

.menu.open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--blue);
  z-index: 1;
}

.menu .nav-mobile ul {
  list-style: none;
  margin: 0 2rem;
  text-align: center;
}

.menu li {
  font-family: var(--title);
  color: var(--sun);
  margin: 0.5rem;
  @extend .display-global;
  justify-content: flex-start;
}

.menu li a {
  text-decoration: none;
  color: var(--sun);
  font-size: 1.5rem;
  cursor: pointer;
}

.link {
  .logout {
    color: var(--sun);
    font-size: 1.5rem;
    cursor: pointer;
    font-family: var(--title);
  }
}

@media screen and (min-width: 768px) {
  .header-all {
    margin: 0;
    width: 100%;
  }

  nav.header-container {
    width: 100%;
    position: relative;
    height: 10rem;
  }

  .menu-burger {
    display: none;
  }

  .menu {
    display: flex;
    position: relative;
    height: 100%;
  }

  .title-for-mobile {
    display: none;
  }

  .logo {
    margin: 1rem;
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu li a {

    font-size: 1.4rem;

  }

  .link {
    .logout {

      font-size: 1.4rem;

    }
  }

}