<div class="header-all">
    <nav class="header-container">
        <div class="header-content">
            <div class="menu-burger" [ngClass]="{ open: isMenuOpen }" (click)="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="menu" [ngClass]="{ open: isMenuOpen }">
                <div class="nav-mobile">

                    <ul>
                        <li><a routerLink="/home">Accueil</a></li>
                        <li><a routerLink="/article">Articles</a></li>
                        <li><a routerLink="/quiz">Quiz</a></li>
                        <li><a routerLink="/profile">Profil</a></li>
                        <li><a routerLink="/authentication">Connexion</a></li>
                        <li><a routerLink="/contact">Nous Contacter</a></li>
                        <li><a (click)="logout()">Déconnexion</a></li>
                    </ul>
                    <div class="logo">
                        <a routerLink="/home">
                            <img [src]="'assets/images/logo-bleu.svg'" alt="logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>