<div class="loader" *ngIf="!isLoaded">Chargement...</div>
<div class="quiz-details-container">
  <div class="quiz-details">
    <div class="sub-title">
      <h2>{{ quiz.title }}</h2>
    </div>
    <app-star-rating
      [totalStars]="5"
      [rating]="currentRating"
      (ratingChanged)="onRatingChanged($event)"
    ></app-star-rating>

    <button class="rating-button" *ngIf="isVoteModified" (click)="saveVote()">
      Enregistrer le vote
    </button>
    <div class="quiz-infos">
      <p>Contenu: <span [innerHTML]="quiz.content"></span></p>

      <p>Difficulté: {{ quiz.difficulty }}</p>
      <p>Date de création : {{ creationDate | date : "dd/MM/yyyy" }}</p>

      <div class="quiz-badges">Badge: {{ quiz.badge?.name }}</div>
    </div>

    <div class="quiz-questions">
      <div
        class="question-card"
        *ngFor="let question of questionsMap; let i = index"
      >
        <p>{{ question.content }}</p>
        <div class="options-container">
          <div class="option-column1">
            <div>
              <input
                type="checkbox"
                id="option1-{{ i }}"
                name="question-{{ i }}"
                value="{{ question.option_1 }}"
                (click)="answerQuestion()"
                (change)="onOptionSelected(question.id, $event)"
              />
              <label for="option1-{{ i }}">{{ question.option_1 }}</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="option2-{{ i }}"
                name="question-{{ i }}"
                value="{{ question.option_2 }}"
                (click)="answerQuestion()"
                (change)="onOptionSelected(question.id, $event)"
              />
              <label for="option2-{{ i }}">{{ question.option_2 }}</label>
            </div>
          </div>
          <div class="option-column2">
            <div>
              <input
                type="checkbox"
                id="option3-{{ i }}"
                name="question-{{ i }}"
                value="{{ question.option_3 }}"
                (click)="answerQuestion()"
                (change)="onOptionSelected(question.id, $event)"
              />
              <label for="option3-{{ i }}">{{ question.option_3 }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress">
      <div id="progressBarContainer">
        <div id="progressBar">
          <i class="fa fa-star progress-star">
            <i class="fa fa-star nested-star"></i>
          </i>
        </div>
      </div>
    </div>
    <div class="button">
      <div class="button-container">
        <button (click)="calculateScore()">Vérifier</button>
      </div>
    </div>
  </div>
</div>

<app-badges-modal
  *ngIf="showModal"
  [userId]="userId"
  [badgeId]="quiz.badge?.id"
></app-badges-modal>
