<div class="quiz-details">

    <!-- Empecher l'affichage des balises html dans le contenu du quiz innerHTML-->
    <p><strong>Contenu:</strong> <span [innerHTML]="quiz.content"></span></p>

    <p><strong>Difficulté:</strong> {{ quiz.difficulty }}</p>
    <p><strong>Date de création:</strong> {{ formatDate(quiz.creationDate) }}</p>
    <p><strong>Titre de l'article:</strong> {{ quiz.article.title }}</p>

    <!-- <ul>
        <li *ngFor="let article of articlesMap">
            <p><strong>Titre de l'article:</strong> {{ quiz.article.title }}</p>

        </li>
    </ul> -->
    <!-- <p><strong>Article:</strong> {{ quiz.questionsIds }}</p> -->
    <div class="author-info">

        <div *ngFor="let question of questionsMap; let i = index">
            <p>{{question.content}}</p>
            <div>
                <input type="radio" id="option1-{{i}}" name="question-{{i}}" value="{{question.option_1}}"
                    (change)="onOptionSelected(question.id, $event)">
                <label for="option1-{{i}}">{{question.option_1}}</label>
            </div>
            <div>
                <input type="radio" id="option2-{{i}}" name="question-{{i}}" value="{{question.option_2}}"
                    (change)="onOptionSelected(question.id, $event)">
                <label for="option2-{{i}}">{{question.option_2}}</label>
            </div>
            <div>
                <input type="radio" id="option3-{{i}}" name="question-{{i}}" value="{{question.option_3}}"
                    (change)="onOptionSelected(question.id, $event)">
                <label for="option3-{{i}}">{{question.option_3}}</label>
            </div>
        </div>


        <!-- 
        <ul>
            <li *ngFor="let question of questionsMap">
                <p><strong>Contenu de la question:</strong> {{ question.content }}</p>
                <label>
                    <input type="checkbox" [(ngModel)]="question.option_1_selected"> {{ question.option_1 }}
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="question.option_2_selected"> {{ question.option_2 }}
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="question.option_3_selected"> {{ question.option_3 }}
                </label>
            </li>
        </ul> -->
        <button (click)="calculateScore()">Vérifier les réponses</button>



        <p><strong>Image:</strong></p>
        <img [src]="quiz.picture" alt="Image du quiz" />

        <p><strong>Rating:</strong> {{ quiz.rating }}</p>
        <p><strong>Archivé:</strong> {{ quiz.archive ? 'Oui' : 'Non' }}</p>

        <!-- <div class="author-info">
        <h3>Auteur</h3>
        <p><strong>Nom:</strong> {{ quiz.author.lastname }}</p>
        <p><strong>Prénom:</strong> {{ quiz.author.firstname }}</p>

    </div> -->

        <!-- <h3>Badges</h3>
    <ul>
        <li *ngFor="let badge of quiz.badge">{{ badge.name }}</li>
    </ul>

    <h3>Articles associés</h3>
    <ul>
        <li *ngFor="let article of quiz.articles">{{ quiz.article.title }}</li>
    </ul>

    <h3>Commentaires</h3>
    <ul>
        <li *ngFor="let comment of quiz.comments">{{ quiz.comment.content }}</li>
    </ul>
    <h3>Questions</h3>
    <ul>
        <li *ngFor="let question of quiz.questions">{{ quiz.question.id }}</li>
    </ul> -->
    </div>