.users {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-button {
    display: flex;
    justify-content: center;

    .button {
        background-color: var(--blue);
        border-radius: 2rem;
        font-size: 1.5rem;
        width: 16rem;
        height: 3rem;
        color: var(--white);
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
}

.users-container {
    margin-top: 20px;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.archived {
    color: #888;
    margin-top: 10px;
}


.delete-button {
    button {
        width: 10rem;
        background-color: var(--sun);
        border-radius: 2rem;
        height: 2rem;
        color: var(--white);
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        margin: 1rem;
    }
}

.info-message {
    margin-top: 20px;
    font-weight: bold;
}