<div class="update-articles">
    <button class="all-articles" (click)="getArticles()" type="button">Tous les articles</button>
    <div *ngIf="isOpenned">
        <div class="articles-container" *ngFor="let article of articles">
            <div class="title">
                <h2>{{ article.title }}</h2>
            </div>
            <div class="content">
                <p>{{ article.content }}</p>
            </div>
            <div class="archived">
                <p>État: {{ article.archive ? 'Archivé' : 'Non archivé' }}</p>

            </div>
            <div class="image">
                <img [src]="article?.image" alt="Image de l'article" />
            </div>

            <div class="update-button">
                <button (click)="editArticle(article)" type="button">Modifier</button>
                <button (click)="deleteArticle(article.id)">Supprimer</button>
            </div>

            <div class="update-form">
                <div class="u-form" *ngIf="existingArticle === article">
                    <h2>Modifier l'article</h2>
                    <label for="title">Titre:</label>
                    <input type="text" id="title" [(ngModel)]="newTitle">
                    <input type="text" id="image" name="image" [(ngModel)]="newImage"
                        placeholder="Entrez le lien de l'image" />
                    <label for="content">Contenu:</label>
                    <textarea id="content" [(ngModel)]="newContent"></textarea>
                    <label for="archiveYes">Archiver:</label>
                    <div class="arviched">
                        <input type="radio" id="archiveYes" name="archive" [(ngModel)]="isArchived" [value]="true"> Oui
                        <input type="radio" id="archiveNo" name="archive" [(ngModel)]="isArchived" [value]="false"> Non
                    </div>
                    <button (click)="saveChanges()">Enregistrer</button>
                    <button (click)="cancelChanges()">Annuler</button>
                    <button (click)="archivedArticle(existingArticle)">Archiver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-article">
    <button (click)="createArticle()" type="button">Ajouter un article</button>
    <div class="create-article">


        <!-- Formulaire pour créer un nouvel article -->
        <div *ngIf="showArticleForm" class="article-form">
            <h2>Créer un nouvel article</h2>
            <label for="title">Titre:</label>
            <input type="text" id="title" [(ngModel)]="newTitle">

            <label for="image">Image:</label>
            <input type="text" id="image" name="image" [(ngModel)]="newImage" placeholder="Entrez le lien de l'image" />

            <label for="content">Contenu:</label>
            <textarea id="content" [(ngModel)]="newContent"></textarea>

            <label for="archive">Archiver:</label>
            <input type="radio" id="archive" [(ngModel)]="isArchived">

            <!-- Champ pour l'auteur (ajoutez le champ d'entrée approprié) -->
            <label for="author">Auteur:</label>
            <input type="text" id="author" [(ngModel)]="newAuthor">

            <!-- Champ pour la balise (ajoutez le champ d'entrée approprié) -->
            <label for="tag">Thème:</label>
            <input type="text" id="tag" [(ngModel)]="newTag">

            <!-- Champ pour le rating (ajoutez le champ d'entrée approprié) -->
            <label for="rating">Évaluation:</label>
            <input type="number" id="rating" [(ngModel)]="newRating">

            <button (click)="addArticle()">Créer l'article</button>
        </div>


    </div>
    <app-scroll-to-top></app-scroll-to-top>