.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    @extend .center;
    flex-direction: column;
}

.text-container {
    margin: 2rem;
    padding: 2rem;
    position: absolute;
    height: 12rem;
    background: rgba(0, 0, 0, 0.48);
    color: #fdfdfd;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kaushan Script;
    font-size: 24px;
    @extend .center;
}


.loader-container {
    @extend .center;
    height: 100dvh;
    width: 100vw;
    color: white;
    font-family: var(--title);
    transform: translate(-50%, -50%);
}

.quiz-main-image {
    height: 30vh;
    width: 100vw;
    @extend .center;
    flex-direction: column;

    .image img {
        position: relative;
        top: 7rem;
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }
}

.quiz-count {
    color: white;
    font-family: var(--text);
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 2rem;

}



.create-quiz {
    @extend .center;

    button {
        background-color: var(--sun);
        font-family: var(--title);
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px #000000;
        color: white;
        width: 10rem;
        align-items: center;
        height: 3rem;
        border-radius: 4rem;
        cursor: pointer;
        text-decoration: none;
    }

    .create-quiz-button {
        background-color: var(--sun);
        font-family: var(--title);
        text-shadow: 1px 1px 1px #000000;
        align-items: center;
        font-size: 1.3rem;
        color: white;
        border-radius: 4rem;
        cursor: pointer;
        text-decoration: none;

        a {
            font-size: 1.1rem;
        }
    }
}

.no-connected {
    background: transparent;
    border: none;
    color: white;
    font-family: var(--title);
    font-size: 1.5rem;
    text-shadow: #fffcfc 0px 0px 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.quiz-card-container {
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;

    .description {
        width: 80%;
        margin: 1rem;
        text-transform: capitalize;
    }
}

.quiz-card {
    margin: 20px;
    display: flex;
    width: 25rem;

    .header-card {
        img {
            object-fit: cover;
            width: 8rem;
            height: 12rem;
            border-radius: 5px;
            border: 0.3px solid black;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .body-card {
        background-color: (white);
        height: 12rem;
        width: 100%;
        border: 0.3px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: var(--title);
            text-align: center;
        }

        .quiz-detail-container {
            display: flex;
            justify-content: flex-end;

            a {
                text-decoration: none;
                color: white;
            }

            .quiz-detail-button {
                background-color: var(--sun);
                font-family: var(--title);
                font-size: 1rem;
                text-shadow: 1px 1px 1px #000000;
                color: white;
                width: 10rem;
                border: none;
                margin: 1.1rem;
                border-radius: 4rem;
                cursor: pointer;
                text-decoration: none;

                p {
                    background-color: var(--sun);
                    font-family: var(--title);
                    font-size: 1rem;
                    color: white;
                    width: 10rem;
                    border: none;
                    margin: 1.1rem;
                    border-radius: 4rem;
                    cursor: pointer;
                    text-decoration: none;
                    position: relative;
                    bottom: 1rem;
                }
            }
        }

        p {
            margin: 0;
            font-size: 16px;
            font-family: var(--text);
            text-align: center;
        }
    }
}

.no-connected {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}

@media screen and (max-width: 768px) {}