<!-- <div class="main-image">
  <img src="../../assets/images/Gizeah.jpg" />
</div> -->
<div class="main-image">
  <div class="image">
    <img [src]="'assets/images/Gizeah.jpg'" alt="Gizeh" />
  </div>
  <div class="text-container">
    Désolé, cette page n'existe pas ! <br />Vous pouvez retourner à l'accueil en
    cliquant sur le bouton ci-dessous.
  </div>
</div>
<!-- <h1>Désolé, cette page n'existe pas !</h1>
<p>Vous pouvez retourner à l'accueil en cliquant sur le bouton ci-dessous.</p> -->
<!-- <div class="pagenotfound-button">
  <div class="button">
    <div class="button-container">
      <button (click)="goToHome()">Accueil</button>
    </div>
  </div>
</div> -->
<div class="button">
  <div class="button-container">
    <button (click)="goToHome()">Accueil</button>
  </div>
</div>