.name-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#theme {
  color: var(--blue);
  background: var(--white);
  border-radius: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}
button {
  background: transparent;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
  position: relative;
  bottom: 4.5rem;
  left: 19rem;
  cursor: pointer;
}

button:active {
  transform: scale(1.3);
}
.fas {
  font-weight: 900;
  font-size: 2rem;
}
.image img {
  width: 100vw;
}
.text-container {
  position: relative;
  bottom: 20rem;
  //   width: 20rem;
  height: 12rem;
  background: rgba(0, 0, 0, 0.48);
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kaushan Script;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  #theme {
    width: 45rem;
    height: 2.5rem;
  }
  .image {
    display: flex;
    justify-content: center;
    height: 35rem;
  }
}
