<div class="sub-title"><h2>Les Mystères de l’Égypte Antique</h2></div>
<section class="search">
  
<div class="name-search">
  <label for="theme"></label>
  <input type="text" id="theme" placeholder="Rechercher" [(ngModel)]="author" />
  <button (click)="onAuthorSearchChange(articleAuthor); onTagSearchChange(articleTag); onTitleSearchChange(articleTitle)">
    <i class="fas fa-search"></i>
  </button>
  </div>
<div class="filter-container">
  <label for="tagSearh"></label>
      <select class="option" [(ngModel)]="articleTag" (change)="onTagSearchChange(articleTag)">
        <option value="">Tag</option>
        <option
          class="filter-option"
          *ngFor="let tag of tagOptions"
          [value]="tag"
        >
          {{ tag }}
        </option>
      </select>
      <label for="titleSearch"></label>
      <select class="option" [(ngModel)]="articleTitle" (change)="onTitleSearchChange(articleTitle)">
        <option value="">Titre</option>
        <option
          class="filter-option"
          *ngFor="let title of titleOptions"
          [value]="title"
        >
          {{ title }}
        </option>
      </select>
      <label for="authorSearch"></label>
      <select class="option" [(ngModel)]="articleAuthor" (change)="onAuthorSearchChange(articleAuthor)">
        <option value="">Auteur</option>
        <option
          class="filter-option"
          *ngFor="let author of authorOptions"
          [value]="author"
        >
          {{ author }}
        </option>
      </select>

</div>
<app-result-card [filteredArticle]="articles"></app-result-card>

<div class="image">
  <img [src]="'../../../assets/images/Gizeah.jpg'" alt="" />
</div>
<div class="text-container">
  Faîtes une recherche par mot-clé, ou utilisez notre filtre en fonction de vos
  envies
</div>
