.Search-all {
  height: 100%;
}

.select-style {
  color: var(--blue);
  font-size: 1.3rem;
  font-weight: bold;
}

.text-container {
  padding: 2rem;
  width: 50%;
  position: relative;
  bottom: 20rem;
  height: 12rem;
  background: rgba(0, 0, 0, 0.48);
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kaushan Script;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// }
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .filter-container label {
    font-size: 1.5rem;
  }
}

select,
option {
  appearance: none;
  color: var(--blue);
}

.filter-container select {
  width: 15rem;
  height: 3rem;
  background: white;
  color: var(--blue);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.filter-option {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 10rem;
}

input[type="text"]::placeholder {
  color: var(--blue);
}

.filter-container {
  margin: 2rem 0.5rem;
}

.filter-container select:first-of-type {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  @extend .select-style;
}

.filter-container select {
  @extend .select-style;
  padding-left: 0.8rem;
}

.filter-container select:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  @extend .select-style;
}

.text-container {
  position: relative;
  bottom: 30rem;
  width: 45rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  padding: 1rem;
  margin: 2rem;
}

.result-card {
  display: flex;
  justify-content: center;
  width: 60%;
}

.transition-right {
  transform: translateX(0rem, 100%);
  animation: appear2 3s forwards;
}

.main-image {
  .image img {
    width: 100vw;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .fa-search:before {
    content: "\f002";
  }

  #theme {
    width: 98%;
    height: 2.5rem;
  }

  .filter-container select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    height: 2rem;
  }

  .filter-container select:first-of-type {
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
  }

  .filter-container select:last-child {
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2rem;
  }

  button {
    left: 40%;
    bottom: 4.1rem;
  }

  .option {
    width: 80%;

    .filter-option {
      font-size: 1rem;
    }
  }
}