.createQuiz {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;

  span {
    color: var(--sun);
    font-style: italic;
  }
}



.all-fields {
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  background: url("/assets/images/background.svg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.label-style label {
  font-size: 24px;
  font-family: var(--title);
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
}


.quiz {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;

  label {
    width: 100%;
  }
}


.all-fields input {
  margin: 0.5rem 0;
  color: var(--blue);
  border-radius: 3rem;
  padding: 0.5rem;
  background: antiquewhite;
  font-size: 16px;
  font-family: var(--text);
}

.create-questions {
  display: flex;
  border-radius: 0.5rem;
  background: antiquewhite;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

@media screen and (min-width: 768px) {
  .quiz {
    flex-direction: row;
    gap: 5rem;
    width: 80%;

    label {
      width: 20%;
    }
  }

  .input-container {
    width: 40rem;
  }

  .createdQuestions-global-style {
    width: 44rem;
  }
}