.comment-container {
    width: 80vw;
}

.comment-button {
    margin: 3rem;
}

.form-group {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}