.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-container {
    @extend .global;

    h2 {
        color: var(--sun);
        font-family: var(--title);
    }

    .form-group {
        width: 100%;
        @extend .global;
    }
}

.showCodeOfConduct {
    @extend .global;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--sun);
    background-color: var(--blue);
    font-family: var(--text);
    font-size: 1.1rem;
    cursor: pointer;
}

#comment {
    height: 8rem;
    width: 95%;
    font-size: 1.1rem;
    font-family: var(--text);
    color: var(--blue);
}

.comment-content {
    @extend .global;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    li {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


.comment-card {
    width: 100%;
    max-width: 25rem;
    border-radius: 1.5rem;
    border: 1px solid var(--sun);
    padding: 2rem;
    margin: 1rem;

    img {
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        border: 1px solid var(--sun);
        margin: 1rem;
    }
}

.comment-text {
    margin: 1rem;
    width: 100%;
    max-width: 20rem;
    overflow-wrap: break-word;
}

.avatar {
    @extend .global;
    width: 7rem;
    text-align: center;
}

.form-group .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-btn {
    cursor: pointer;
    display: flex;
    border-radius: 3rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: 2px solid var(--sun);
    font-family: var(--title);
    font-weight: bolder;
    width: 18rem;
}

.btn-add-comment {
    background-color: var(--sun);
    font-family: var(--title);
    text-shadow: 2px 1px 0px #152131;
    font-size: 1.3rem;
    color: white;
    width: 15rem;
    border: none;
    margin: 1.1rem;
    border-radius: 4rem;
    cursor: pointer;
}

.deleteMyComment {
    border-radius: 1.5rem;
    background-color: var(--sun);
    color: white;
}

@media screen and (min-width: 768px) {
    #comment {
        width: 80vw;
    }

    .comment-card {
        max-width: 55rem;
    }

    .comment-text {
        max-width: 50rem;
    }
}