.modal-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.modal-content h2 {
    background-color: var(--sun);
    height: 20rem;
    width: 25rem;
    border-radius: 3%;
    text-align: center;
    color: var(--white);
    font-family: var(--title);
    padding: 2rem;

}


.badge-image {
    height: 12rem;
    border-radius: 60%;
}

.modal-content h3 {
    color: var(--white);
}


.modal-content p {
    color: var(--white);
}

.modal {
    height: 20rem;
}


.modal-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);


}

.modal-content {
    width: 25rem;
    height: 25rem;
    background-color: var(--sun);
    color: var(--white);
    border-radius: 3%;
    text-align: center;
    padding: 2rem;
}

.badge-details {
    color: var(--white);
    font-size: 2rem;
    font-family: var(--title);
}

.button-style {
    width: 100vw;
    display: flex;
    justify-content: center;

}