.modal-content {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-content h2 {
    background-color: var(--sun);
    height: 20rem;
    width: 20rem;
    border-radius: 3%;
    text-align: center;
    color: white;
    font-family: var(--title);
    padding: 2rem;
}

.badge-image {
    height: 12rem;
    width: 12rem;
    object-fit: contain;
    border-radius: 60%;
}

.modal-content h3 {
    color: white;
}

.modal-content p {
    color: white;
}


.modal-container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);

    .modal-content {
        width: 25rem;
        height: 25rem;
        background-color: var(--sun);
        color: white;
        border-radius: 3%;
        text-align: center;
        padding: 2rem;
    }

    .badge-details {
        color: white;
        font-size: 2rem;
        font-family: var(--title);
    }

    .reward_button {
        margin: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .modal-container {
        height: 100dvh;

        .modal-content {
            width: 20rem;
            // height: 20rem;
            background-color: var(--sun);
            color: white;
            border-radius: 3%;
            text-align: center;
            padding: 2rem;
        }
    }
}