<div class="social-networks">
    <div class="main-image">
        <div class="image">
            <img [src]="'assets/images/Gizeah.jpg'" alt="Gizeh" />
        </div>
        <div class="text-container">
            Nous ne sommes pas encore sur les réseaux !<br>
            Mais rien ne vous empêche de parler de nous autour de vous. 😉
        </div>
    </div>

    <div class="wait">
        <p>En attendant, vous pouvez retourner à l'accueil en cliquant sur le bouton ci-dessous.</p>
    </div>
    <div class="button">
        <div class="button-container">
            <button (click)="goToHome()">Accueil</button>
        </div>
    </div>

</div>