.social-networks {
    .text-container {
        margin: 2rem;
        padding: 2rem;
        width: 60%;
        position: absolute;
        bottom: 1rem;
        /* height: 16rem; */
        background: rgba(0, 0, 0, 0.48);
        color: #fdfdfd;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Kaushan Script;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wait {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    color: white;
    color: #fff;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--text);
    padding: 1rem;
}

@media screen and (min-width:768px) {
    .social-networks {
        .text-container {
            font-size: 24px;
        }
    }

}