.comment {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .comment-details {
        p {
            margin-bottom: 10px;
        }
    }

    .archived {
        p {
            margin-bottom: 10px;
        }

        .archive-options {
            input[type="radio"] {
                margin-right: 5px;
            }
        }

        .update-button {
            button {
                margin-top: 10px;
            }
        }
    }
}

.archived-button {
    width: 10rem;
    border-radius: 2rem;
    height: 2rem;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.delete-button {
    background-color: var(--sun);
}