.login-box {
  width: 80vw;
}

.user-box {
  position: relative;
  /* Pour que .show-password soit bien positionné à l'intérieur */
}


.show-password {
  position: absolute;
  top: 76%;
  right: 10px;
  color: var(--sun);
  transform: translateY(-50%);
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media (min-width: 768px) {
  .login-box {
    width: 60vw;
  }
}

.add-icon {
  width: 60vw;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}