.GCU-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--sun);
    background-color: var(--blue);
    color: white;
    font-family: var(--text);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #legal-notice,
    #terms-of-use,
    #privacy-policy {
        width: 80%;

        h1 {
            font-family: var(--title);
            text-align: center;
            // margin: 2.5rem;
            padding: 2rem;
            color: var(--sun);
            font-size: 2rem;
        }

        h2 {
            font-family: var(--text);
            margin: 1.5rem;
            color: white;
            font-size: 1.5rem;
        }

        h2::before {
            content: "\f0c6";
            font-family: "FontAwesome";
            margin-right: 0.5em;
            font-size: 1rem;
        }

        p {
            text-align: justify;
        }
    }

    .form-check {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        padding: 2rem;
        font-size: 1.1rem;
        font-family: var(--text);
    }

    .error-gcu {
        color: var(--sun);
        font-size: 1.1rem;
        font-family: var(--text);

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }
    }

    footer p {
        margin-bottom: 2rem;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        color: white;
    }
}
