<div class="sub-title">
    <h2>Les Mystères de l’Égypte Antique</h2>
</div>
<div class="text-container">
    Votre article...<br>
    <p>{{ article?.title }}</p>
</div>
<div class="article-main-image">
    <div class="image">
        <img [src]="'assets/images/Gizeah.jpg'" alt="Gizeh" />
    </div>

</div>

<div class="articles-details-container">

    <div class="article-details">

        <!-- <app-star-rating [totalStars]="5" [rating]="currentRating"
            (ratingChanged)="onRatingChanged($event)"></app-star-rating> -->

        <app-star-rating [totalStars]="5" [rating]="article.ratings"
            (ratingChanged)="onRatingChanged($event)"></app-star-rating>



        <button class="rating-button" *ngIf="isVoteModified && isConnected" (click)="saveVote()">Enregistrer le
            vote</button>


        <article class="content">
            <img [src]="article?.image" alt="description de l'image">



            <p><span>
                    <h2 class="article-title">{{ article?.title }}</h2>
                </span>{{ article?.content }}</p>
            <!-- <p><span class="article-title">{{ article?.title }}</span>{{ article?.content }}</p> -->


        </article>
        <!-- <p>lorem100</p> -->
        <!-- <img [src]="article?.image ?article?.image : defaultImage" alt="Image de l'article" /> -->
        <!-- Empecher l'affichage des balises html dans le contenu du quiz innerHTML-->
        <!-- <p><span [innerHTML]="article?.content"></span></p> -->

        <div class="author-info">
            <p>Auteur: {{ article?.author}}</p>
        </div>
        <p>Thème: {{ article?.tag }}</p>
        <p>Date de création: {{ formatDate(article?.editionDate) }}</p>
        <p>Quiz associé: {{ article?.quiz }}</p>

    </div>
    <div class="suggest-text">
        <div class="sub-title">
            <h2>Articles pouvant vous intérésser</h2>
        </div>
    </div>
    <div class="suggest">

        <app-articles-carousel [articles]="articles"></app-articles-carousel>
    </div>

    <div class="comment">


        <div class="add-comment" *ngIf="isConnected">

            <app-comments [articleCommentId]="article?.id"></app-comments>
        </div>

    </div>
    <!-- <app-scroll-to-top></app-scroll-to-top> -->
</div>