.article-main-image {
    .image img {
        height: 18rem;
        width: 100%;
        object-fit: cover;
        position: relative;
        top: -4rem;
    }
}

.article-container {


    p {
        font-family: var(--title);
        text-transform: capitalize;
        font-size: 1.8rem;
    }
}

.rating-button {
    background-color: var(--sun);
    font-family: var(--title);
    font-size: 1rem;
    color: white;
    width: 10rem;
    border: none;
    margin: 1.1rem;
    border-radius: 4rem;
    cursor: pointer;
    text-decoration: none;
}

.article-details {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-family: var(--text);
        font-size: 1rem;
        // line-height: 1.5;
    }
}

.add-comment {
    width: 100%;
}

.content {
    max-width: 40rem;
    padding-top: 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

    .content::after {
        content: "";
        display: block;
        clear: both;
    }

    .article-title {
        font-family: var(--title);
        color: var(--sun);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
    }

    img {
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        shape-outside: margin-box;
        margin: 0 1rem 0.5rem 0;
        float: left;
        position: relative;
        transition: transform 0.5s ease-in-out;
    }

    img:hover {
        transform: scale(1.5);
        position: absolute;
        z-index: 10;
    }
}

.author-info {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dee2e6;
    list-style: none;

    a {
        text-decoration: none;
        color: var(--sun);
        font-weight: bold;
    }
}

.author-info h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.suggest-text {
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.suggest {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    margin: 0 2rem 2rem 2rem;
}

.comment {
    // width: 80vw;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    margin: 3rem;
    flex-direction: column;
    align-items: center;
    color: white;
}

.article-content {
    line-height: 1.6;

    p,
    h2,
    small,
    img {
        margin-bottom: 1rem;
        display: block;
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 2rem;
        color: #333;
    }

    small {
        font-size: 0.9rem;
        color: #666;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .content {
        margin: 0 auto;
        padding: 2rem;

        img {
            width: 14rem;
            height: 14rem;
            object-fit: cover;
            shape-outside: margin-box;
            margin: 0 1rem 0.5rem 0;
            float: left;
        }

        img:hover {
            transform: scale(2.2);
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            transform-origin: -5rem;
        }
    }
}