<div class="sub-title">
  <h2>Les Mystères de l’Égypte Antique</h2>
</div>

<div class="articles-details-container">
  <div class="main-image">
    <div class="image">
      <img [src]="'assets/images/Gizeah.jpg'" alt="Gizeh" />
    </div>
    <div class="text-container">
      Votre article : <br />
      {{ article?.title }}
    </div>
  </div>

  <div class="article-details">
    <app-star-rating [totalStars]="5" [rating]="article?.averageRating"
      (ratingChanged)="onRatingChanged($event)"></app-star-rating>

    <button class="rating-button" *ngIf="isVoteModified && isConnected" (click)="saveVote()">
      Enregistrer le vote
    </button>
    <article class="content">
      <img [src]="article.image ? article.image : defaultImage" alt="Image par defaut" class="rating" />
      <h2 class="article-title">{{ article?.title }}</h2>

      <div class="article-content" [innerHTML]="articleContent"></div>

    </article>
    <div class="author-info">
      <p>Auteur: {{ article?.author }}</p>

      <p>Thème: {{ article?.tag }}</p>
      <div *ngIf="article.quizzes?.length; else message">
        <p>Quiz associé : </p>
        <li *ngFor="let quiz of article.quizzes">
          <a [routerLink]="['/quiz', quiz.id]">{{ quiz.title }}</a>
        </li>

      </div>
      <ng-template #message>
        <p>Pas de quiz associé, pour le moment</p>
      </ng-template>
      <p>Date de création: {{ formatDate(article?.creationDate) }}</p>
    </div>
  </div>

  <div class="suggest-text">
    <div class="sub-title">
      <h2>Articles pouvant vous intérésser</h2>
    </div>
  </div>
  <div class="suggest">
    <app-articles-carousel [articles]="articles"></app-articles-carousel>
  </div>

  <div class="comment">
    <div class="add-comment" *ngIf="isConnected">
      <app-comments [articleCommentId]="article?.id"></app-comments>
    </div>
  </div>
</div>