.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-div,
.right-div {
  flex: 1;
  transition: all 2s ease-in-out;
}

.left-div,
.right-div {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.left-div img {
  background-size: cover;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

// .right-div {
//   animation-name: crawl;
//   background-size: cover;
//   object-fit: cover;
//   background-repeat: no-repeat;
// }

.right-div img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.shake-animation {
  animation-delay: 1.5s;
  animation: shake 0.1s ease-in-out infinite;
}

.open-doorL {
  animation: openDoorsLeft 3s ease-in-out forwards;
}

.open-doorR {
  animation: openDoorsRight 3s ease-in-out forwards;
}

.fog-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  animation-delay: 4s;
  animation: fogAnimation 4s ease-in-out forwards;
}

@keyframes openDoorsLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes openDoorsRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}





@keyframes fogAnimation {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}