<div class="all">
    <div class="articles-carousel">
        <button (click)="prevArticle()"><i class="fa fa-chevron-left"></i></button>
        <div class="previous">
            <img [src]="articles[currentIndex-1]?.image ?articles[currentIndex]?.image: defaultImage"
                alt="article image" />
        </div>

        <div class="next">
            <img [src]="articles[currentIndex+1]?.image ?articles[currentIndex]?.image: defaultImage"
                alt="article image" />
        </div>
        <button (click)="nextArticle()"><i class="fa fa-chevron-right"></i>
        </button>
    </div>
    <div class="article">
        <div class="article-view">
            <a routerLink="/article/{{ articles[currentIndex]?.id }}">
                <img [src]="articles[currentIndex]?.image ? articles[currentIndex]?.image : defaultImage"
                    alt="article image" />
            </a>
        </div>
        <div class="title">
            <h3>{{ articles[currentIndex]?.title }}</h3>
        </div>
    </div>
</div>