.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 3rem;
  font-family: var(--title);
  color: var(--sun);
  transition: all 0.3s ease-in-out;
  animation: fadeIn 4s ease-in-out forwards;

}

.home {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    margin: 2rem;
    padding: 0 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: auto;
    object-fit: cover;
    height: 50%;
  }

  .home-title {
    color: var(--sun);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--title);

    h1 {
      font-size: 2.7em;
      margin: 1rem;
    }
  }

  .introduction {
    margin: 0 2rem;
    justify-content: space-around;
    padding: 2rem;
  }

  .title h3 {
    font-family: var(--title);
    font-size: 1.5rem;
    color: var(--white);
    // padding: 2rem;
    margin-bottom: 1rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em;
    padding: 2rem;
    justify-content: center;
  }

  .paragraph {
    margin-bottom: 2rem;
  }

  p {
    font-size: 18px;
    color: var(--white);
    color: #fff;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--text);
    display: flex;
    justify-content: center;
  }
}

.fog-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sun);
  animation: fogAnimation 2s ease-in-out forwards;
  // animation-delay: 2s; /* Ajoutez le délai souhaité (par exemple, 2 secondes) */
}

.glow-effect {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // z-index: -1;
  background: radial-gradient(circle, #f1c787, rgba(255, 255, 255, 0) 50%);
  animation: glow 0s ease-in-out forwards;
  border-radius: 100%;
  animation-duration: 10s;
}

@keyframes fogAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }

  50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.2;
  }

  100% {
    transform: translate(-100%, -100%) scale(0.5);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;

  }

  to {
    opacity: 0;

  }
}

@media (max-width: 768px) {
  .home {
    .home-title h1 {
      font-size: 1.6rem;
    }

    .content {
      margin: 0;
      padding: 0;
    }

    .sub-title h2 {
      font-size: 1.3rem;
    }

    .introduction {
      padding: 0;
      margin: 2rem;
    }

    .description {
      margin: 2rem;
      padding: 0;
    }

    .title {
      margin: 0;
      padding: 0;
    }

    .title h3 {
      font-size: 1.3rem;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
}