.main-informations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.connection-container {
  height: 40rem;
  padding: 20px;
}

.login-form-container,
.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar-form-container {
  display: flex;
}

.top-bar-form {
  display: flex;
  background-color: var(--blue);
  border-radius: 5px;
  overflow: hidden;
  font-family: var(--title);
}

.top-bar-form-item-connection,
.top-bar-form-item-register {
  padding: 10px 20px;
  cursor: pointer;
}

.top-bar-form-item-text {
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--white);
}

.top-bar-form-item-selected {
  background-color: var(--sun);
}

.top-bar-form-container {
  margin-top: 0;
}


.form-container {
  padding: 20px;
}

.info-submitted-validation {
  text-align: center;
}

.info-submitted-validation-text {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.info-submitted-validation-valid {
  color: var(--sun);
  background-color: var(--white);
}

.info-submitted-validation-error {
  color: var(--sun);
  background-color: var(--blue);
}

.red-line {
  margin-top: 9rem;

  .main-image img {

    margin: 0;
  }
}

@media (min-width: 768px) {
  .text-container {
    position: relative;
    // bottom: 30rem;
    width: 45rem;
    font-size: 2rem;
  }

  .top-bar-form-container {
    margin: 4rem;
  }

  .red-line {
    margin-top: 7rem;

    .main-image img {

      margin-top: 14rem;
    }
  }
}