.button-scroll-to-top {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 1030;
    right: 45px;
    bottom: 30px;
}

.arrow-icon {
    font-size: 30px;
}

.button-scroll-to-top--show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: var(--sun);
    cursor: pointer;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .button-scroll-to-top {
        right: 90px;
    }

}