.all {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.quiz {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le bouton "Quiz" */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Style pour le conteneur de quiz lorsque ouvert */
.quizzesOpen {
    margin-top: 20px;
}

/* Style pour le titre du quiz */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style pour les éléments du quiz */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour les boutons "Supprimer" et "Sauvegarder" des quiz */
.update-button {
    display: inline-block;
    margin-right: 10px;
}

/* Style pour les boutons radio (archiver) */
input[type="radio"] {
    margin-right: 5px;
}

/* Style pour le conteneur des questions du quiz */
.questions-container {
    margin-top: 20px;
}

/* Style pour le titre "Questions" */
h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style pour les boutons "Afficher la question" des questions */
.question-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Style pour les éléments des questions affichées */
.question-details {
    margin-top: 10px;
}

/* Style pour le conteneur de gestion des badges */
.badge {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le bouton "Badge" */
.badge-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Style pour le conteneur de gestion des badges lorsque ouvert */
.badgesOpen {
    margin-top: 20px;
}

/* Style pour le titre des badges */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style pour les éléments des badges */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

/* Style pour les boutons "Sélectionner le badge" des badges */
.select-badge-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Style pour le formulaire de création de badge */
.create-badge-form {
    margin-top: 20px;
}

/* Style pour les champs du formulaire de création de badge */
.create-badge-form label {
    display: block;
    margin-top: 10px;
}

.create-badge-form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style pour le bouton "Ajouter le badge" du formulaire */
.create-badge-button {
    margin-top: 20px;
}

/* Style pour les messages d'information supplémentaires */
.info-message {
    margin-top: 20px;
    font-weight: bold;
}