<div class="all">
    <div class="quiz">
        <button (click)="getQuiz()" type="button" class="button">Quiz</button>
        <div *ngIf="quizzesOpen">
            <h2>Liste des quiz</h2>
            <ul>
                <li *ngFor="let quiz of quizzes">
                    <h3>{{ quiz.title }}</h3>
                    <p>Difficulté : {{ quiz.difficulty }}</p>
                    <p>Date de création : {{ quiz.creationDate }}</p>

                    <div *ngIf="quiz.badgeContent">
                        <p>Badge :</p>
                        <h2>{{ quiz.badgeContent.name }}</h2>
                        <p>{{ quiz.badgeContent.description }}</p>
                        <img [src]="quiz.badgeContent.image" alt="{{ quiz.badgeContent.name }}">
                    </div>
                    <div *ngIf="editingQuiz && editingQuiz.id === quiz.id">
                        <label for="editedTitle">Titre :</label>
                        <input type="text" id="editedTitle" [(ngModel)]="editingQuiz.title">

                        <label for="editedDifficulty">Difficulté :</label>
                        <input type="text" id="editedDifficulty" [(ngModel)]="editingQuiz.difficulty">


                        <button (click)="cancelEdit()">Annuler</button>

                        <!-- Ajoutez un bouton pour sauvegarder les modifications -->
                        <button (click)="updateQuiz(quiz.id, quiz)">Sauvegarder</button>
                    </div>

                    <div class="update-button">
                        <button (click)="deleteQuiz(quiz.id)">Supprimer</button>
                    </div>
                    <h4>Questions :</h4>
                    <ul>

                        <li *ngFor="let questionId of quiz.questionsIds">
                            <button (click)="getQuestionContentForQuiz(questionId)" type="button">Afficher la
                                question</button>
                            <div *ngIf="questionId">

                                <div class="delete-question">
                                    <button (click)="deleteQuestionFromQuiz(questionId)">Supprimer la question</button>
                                </div>
                                <!-- <div class="update-question">
                                    <button (click)="editQuestion(questionId)">Editer</button>
                                    <button
                                        (click)="updateQuestion(questionId, questions[questionId])">Sauvegarder</button>
                                </div> -->
                                <!-- Affichage des données de la question récupérées dans la méthode -->
                                <div *ngIf="questions[questionId]">
                                    <p>ID: {{ questions[questionId].id }}</p>
                                    <p>Content: {{ questions[questionId].content }}</p>
                                    <p>Option 1: {{ questions[questionId].option_1 }}</p>
                                    <p>Option 2: {{ questions[questionId].option_2 }}</p>
                                    <p>Option 3: {{ questions[questionId].option_3 }}</p>
                                    <p>Answer 1: {{ questions[questionId].answer1 }}</p>
                                    <p>Answer 2: {{ questions[questionId].answer2 }}</p>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="archived">
                        <p>État: {{ quiz.archive ? 'Archivé' : 'Non archivé' }}</p>
                    </div>

                    <div class="arviched">
                        <input type="radio" id="archiveYes" name="archive_{{quiz.id}}" [(ngModel)]="quiz.isArchived"
                            [value]="true"> Oui
                        <input type="radio" id="archiveNo" name="archive_{{quiz.id}}" [(ngModel)]="quiz.isArchived"
                            [value]="false"> Non
                        <button (click)="archivedQuiz(quiz)">Modifier</button>
                    </div>

                    <p>Selectionner ce Quiz</p>
                    <input type="checkbox" [(ngModel)]="quiz.selected" (change)="selectQuiz(quiz.id)">
                    {{ quiz.title }}
                </li>
            </ul>
        </div>
        <div class="create-quiz">
            <div class="button">
                <!-- <div class="button-container"> -->
                <button (click)="createQuiz()" type="button" class="button">Créer un quiz</button>
                <!-- </div> -->
            </div>
        </div>

    </div>
    <div *ngIf="showQuizForm">
        <h2>Créer un nouveau quiz</h2>

        <label for="title">Titre :</label>
        <input type="text" id="title" [(ngModel)]="newTitle">

        <label for="difficulty">Difficulté :</label>
        <input type="text" id="difficulty" [(ngModel)]="newDifficulty">
        <label for="content">Sujet :</label>
        <input type="text" id="difficulty" [(ngModel)]="newContent">


        <label for="archive">Archiver :</label>
        <input type="radio" id="archiveYes" name="archive" [(ngModel)]="isArchived" [value]="true"> Oui
        <input type="radio" id="archiveNo" name="archive" [(ngModel)]="isArchived" [value]="false"> Non

        <div class="create-button">
            <div class="button">

                <button (click)="onCreateQuiz()" type="button" class="button">Ajouter le quiz</button>
            </div>
        </div>
    </div>

    <!-- Badge
    <div class="badge">
        <button (click)="getBadge()" type="button" class="button">Badge</button>
        <div *ngIf="badgesOpen">
            <h2>Liste des badges</h2>
            <ul>
                <li *ngFor="let badge of badges">
                    <h3>{{ badge.name }}</h3>
                    <p>Description : {{ badge.description }}</p>
                    <img [src]="badge.image" alt="badge">
                    <button (click)="selectBadge(badge.id)" class="button">Sélectionner le badge</button>
                    <label>
                        <input type="radio" [value]="badge" [(ngModel)]="selectedBadge"> {{ badge.id }}
                    </label>

                  
                </li>
            </ul>
            <div class="create-badge">
                <button (click)="createBadge()" type="button" class="button">Créer un badge</button>
            </div>
            <div *ngIf="showBadgeForm">
                <h2>Créer un nouveau badge</h2>
                <label for="name">Nom :</label>
                <input type="text" id="name" [(ngModel)]="name">

                <label for="description">Description :</label>
                <input type="text" id="description" [(ngModel)]="description">

                <label for="image">Image :</label>
                <input type="text" id="image" [(ngModel)]="image">

                <div class="create-button">
                    <button (click)="onCreateBadge()" type="button" class="button">Ajouter le badge</button>
                </div>
            </div>
        </div>
    </div>
  
    <div *ngIf="selectedBadge">
        <button (click)="addBadgeToQuiz(quiz.id, selectedBadge.id)" class="button">Ajouter le badge au quiz</button>
    </div>
</div> -->