<div class="all">
    <div class="quiz">
        <div class="button-container">
            <button (click)="getQuiz()" type="button" class="button">Quiz</button>
        </div>
        <div *ngIf="quizzesOpen">
            <h2>Liste des quiz</h2>
            <ul>
                <li *ngFor="let quiz of quizzes">
                    <h3>{{ quiz.title }}</h3>
                    <p>Difficulté : {{ quiz.difficulty }}</p>
                    <p>Date de création : {{ quiz.creationDate }}</p>
                    <img [src]="quiz.picture ? quiz.picture : defaultImage" alt="Image du quiz">

                    <div *ngIf="quiz.badgeContent">
                        <p>Badge :</p>
                        <h2>{{ quiz.badgeContent.name }}</h2>
                        <p>{{ quiz.badgeContent.description }}</p>
                        <img [src]="quiz.badgeContent.image" alt="{{ quiz.badgeContent.name }}">
                    </div>
                    <div *ngIf="editingQuiz && editingQuiz.id === quiz.id">
                        <label for="editedTitle">Titre :</label>
                        <input type="text" id="editedTitle" [(ngModel)]="editingQuiz.title">

                        <label for="editedDifficulty">Difficulté :</label>
                        <input type="text" id="editedDifficulty" [(ngModel)]="editingQuiz.difficulty">
                        <label for="editedContent">Sujet :</label>
                        <input type="text" id="editedContent" [(ngModel)]="editingQuiz.content">
                        <label for="editedImage">Image:</label>
                        <input type="text" id="editedImage" name="picture" [(ngModel)]="editingQuiz.picture"
                            placeholder="Entrez le lien de l'image" />

                        <div class="cancel-update">
                            <button (click)="cancelEdit()">Annuler</button>


                            <button (click)="updateQuiz(quiz.id, quiz)">Sauvegarder</button>
                        </div>
                    </div>
                    <div class="delete-button">
                        <button (click)="deleteQuiz(quiz.id)">Supprimer le quiz</button>
                    </div>
                    <h4>Questions :</h4>
                    <ul>

                        <li *ngFor="let questionId of quiz.questionsIds">
                            <div class="delete-question">
                                <button (click)="getQuestionContentForQuiz(questionId)" type="button">Afficher la
                                    question</button>
                                <div *ngIf="questionId">

                                    <div class="delete-button">
                                        <button (click)="deleteQuestionFromQuiz(questionId)">Supprimer la
                                            question</button>
                                    </div>
                                </div>

                                <div *ngIf="questions[questionId]">
                                    <p>ID: {{ questions[questionId].id }}</p>
                                    <p>Content: {{ questions[questionId].content }}</p>
                                    <p>Option 1: {{ questions[questionId].option_1 }}</p>
                                    <p>Option 2: {{ questions[questionId].option_2 }}</p>
                                    <p>Option 3: {{ questions[questionId].option_3 }}</p>
                                    <p>Answer 1: {{ questions[questionId].answer1 }}</p>
                                    <p>Answer 2: {{ questions[questionId].answer2 }}</p>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="archived">
                        <p>État: {{ quiz.archive ? 'Archivé' : 'Non archivé' }}</p>
                    </div>

                    <div class="arviched">
                        <input type="radio" id="archiveYes" name="archive_{{quiz.id}}" [(ngModel)]="quiz.isArchived"
                            [value]="true"> Oui
                        <input type="radio" id="archiveNo" name="archive_{{quiz.id}}" [(ngModel)]="quiz.isArchived"
                            [value]="false"> Non
                        <div class="cancel-update">
                            <button (click)="archivedQuiz(quiz)">Archiver</button>
                            <button (click)="editQuiz(quiz)" type="button">Modifier</button>

                        </div>
                    </div>

                    <p>Selectionner ce Quiz pour ajouter les questions par catégorie</p>
                    <input type="checkbox" [(ngModel)]="quiz.selected" (change)="selectQuiz(quiz.id)">
                    {{ quiz.title }}
                </li>
            </ul>
        </div>
        <div class="create-quiz">
            <div class="button">
                <div class="button-create">
                    <button (click)="createQuiz()" type="button" class="button">Créer un quiz</button>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="showQuizForm">
        <h2>Créer un nouveau quiz</h2>

        <label for="title">Titre :</label>
        <input type="text" id="title" [(ngModel)]="newTitle">

        <label for="difficulty">Difficulté :</label>
        <input type="text" id="difficulty" [(ngModel)]="newDifficulty">
        <label for="content">Sujet :</label>
        <input type="text" id="difficulty" [(ngModel)]="newContent">
        <label for="image">Image:</label>
        <input type="text" id="image" name="picture" [(ngModel)]="newPicture" placeholder="Entrez le lien de l'image" />

        <label for="archive">Archiver :</label>
        <input type="radio" id="archiveYes" name="archive" [(ngModel)]="isArchived" [value]="true"> Oui
        <input type="radio" id="archiveNo" name="archive" [(ngModel)]="isArchived" [value]="false"> Non

        <div class="create-button">
            <div class="button-add">

                <button (click)="onCreateQuiz()" type="button" class="add-button">Ajouter le quiz</button>
            </div>
        </div>
    </div>
    <div *ngIf="editingQuiz">
        <label for="editedTitle">Titre :</label>
        <input type="text" id="editedTitle" [(ngModel)]="editingQuiz.title">

        <label for="editedDifficulty">Difficulté :</label>
        <input type="text" id="editedDifficulty" [(ngModel)]="editingQuiz.difficulty">

        <label for="editedContent">Sujet :</label>
        <input type="text" id="editedContent" [(ngModel)]="editingQuiz.content">

        <label for="editedIsArchived">Archiver :</label>
        <input type="radio" id="editedIsArchivedYes" name="editedIsArchived" [(ngModel)]="editingQuiz.isArchived"
            [value]="true"> Oui
        <input type="radio" id="editedIsArchivedNo" name="editedIsArchived" [(ngModel)]="editingQuiz.isArchived"
            [value]="false"> Non

        <div class="update-button">
            <button (click)="cancelEdit()">Annuler</button>
            <button (click)="updateQuiz(editingQuiz.id, editingQuiz)">Sauvegarder</button>
        </div>
    </div>