.question-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1.5rem;
}

.create-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button button {
    background-color: var(--blue);
    border-radius: 2rem;
    display: flex;
    color: white;
    cursor: pointer;
    width: 14rem;
    font-size: 1.5rem;
    height: 3rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.create-form label {
    margin-bottom: 5px;
}

.create-form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 3rem;
}

.create-button {
    display: flex;
    width: 80%;
    margin: 2rem;
}

.create-button .button {
    width: 14rem;
}

.select-option {
    // width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1rem 0;
}

.update-delete {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.update-question button {
    background-color: var(--blue);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.delete-question button {
    background-color: var(--sun);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.save-question button {
    background-color: var(--blue);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}
